/*
Theme Name: community organization
Author: jiyoung choi
Date: Sep 2016
Description: An attractive, simple custom CSS design for the community website
*/
/* social icon */
body {
	margin-top: 2px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
	background-color: #F5F5F5;
}

/* orange  #FF5733 */
/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 180px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #5BADAF;
 
  color:#FFF;
}

.current {
	color: #0068FF !important;
}
.current1 {

	border-left:5px solid  #B5292A; !important
}

.socialgroup ul {
	overflow: auto;
}

.socialgroup ul li {
	list-style-type: none;
	float: left;
}

.socialgroup ul li a i {
	color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
	margin-right: 10px;
	padding-top: 10%;
}

.fa-facebook {
	background: #3b5998;
}

.fa-linkedin {
	background: #007bb6;
}

.fa-twitter {
	background: #00aced;
}

.fa-google-plus {
	background: #dd4b39;
}
/*end social icon*/
.contactinfo ul li {
	list-style-type: none;
	float: left;
	letter-spacing: 2px;
	font-size: 15px;
	margin-right: 15px;
	margin-top: 5px;
}

.contactinfo ul {
	overflow: auto;
	float: right;
}

.person {
	color: #fff;
}

.login input[type='text'] {
	height: 30px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #000000;
	font-size: 15px;
	margin: 10px;
}

.login input[type='password'] {
	height: 30px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #000000;
	font-size: 15px;
	margin: 10px;
}

.login input[type='email'] {
	height: 30px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #000000;
	font-size: 15px;
	margin: 10px;
}

.login input[type='file'] {
	height: 30px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #000000;
	font-size: 15px;
	margin: 10px;
}

.login input[type='submit'] {
	height: 30px;
	background-color: #fff;
	color: #777;
	font-family: 'ubuntu';
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
	border: 3px solid #000000;
	margin-left: 210px;
	width: 200px;
	margin-bottom: 20px;
}

.login input[type='radio'] {
	height: 20px;
	width: 150px;
	background-color: #fff;
	border: 1px solid #000000;
	font-size: 15px;
	margin: 10px;
}

.login {
	background: #fff;
	background: rgba(255, 255, 255, 0.7);
	margin-bottom: 20px;
	width: 900px;
	border-radius: 10px;
	font-family: 'Ubuntu';
	float: left;
	margin-left: 20%;
	padding-top: 10px;
}

.login form {
	margin-left: 25%;
	width: 550px;
}

.login label {
	font-size: 25px;
	width: 200px;
	float: left;
}

.login input {
	font-size: 25px;
	width: 200px;
	float: left;
	clear: right;
}

.login h3 {
	clear: both;
}

.login p {
	text-align: center;
}

.login h3 {
	text-align: center;
}

.login {
	margin-top: 10%;
}



/*footer*/
.urgent {
	margin-top: -25px;
	margin-bottom: 10px;
}

.thumbnail {
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: #000;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

.thumbnail p {
	color: #fff;
	font-size: 2rem;
	margin: 15%;
	line-height: 1.8;
	position: absolute;
}

.con {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 15px;
	margin-top: 5%;
}

.container {
	margin-top: 5%;
	padding-bottom: 60px;
}

.bg-grey {
	background-color: #f6f6f6;
	margin-top: 20px;
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
}

.thumbnail img:hover {
	opacity: 0.8;
	transition: 1s;
}

.boxbtn {
	position: relative;
	
	border-radius: 100px;

	height: 10%;
	color: #FF5733;
	border: 2px solid #FF5733;
}

.boxbtn1 {
	position: relative;
	border-radius: 100px;

	height: 20%;
	color: #0066FF;
	border: 2px solid #0066FF;
}

.clander ul li a:hover {
	background-color: none;
}

.eventcardtxt {
	width: 250px;
	height: 250px;
	background-color: #022C37;
	float: left;
	color: #fff;
}

.eventcardtxt1 {
	width: 48%;
	height: auto;
	background-color: #022C37;
	float: left !important;
	color: #fff;
}

.eventcardtxt2 {
	width: 48%;
	height: 180px;
	background-color: #022C37;
	float: left !important;
	color: #fff;
}

.eventcardtxt hr {
	height: 2px;
	border-color: #39ABCD;
	margin: 10% 30%;
}

.eventcardtxt p {
	margin: 0 10%;
	font-family: 'Arvo';
}

.btn-primary-outline {
	border: 2px solid #39ABCD;
	background-color: transparent;
	margin: 10%;
}

.btn-primary-outline:hover {
	background-color: #39ABCD;
	color: #fff;
}

#eventbox {
	padding: 0 4%;
}

.eventdatebtn {
	margin: 10px;
	padding: 5px;
	width: 80px;
	height: 80px;
	font-size: 25px;
	float: left;
	text-align: center;
	background-color: #003169;
	color: #fff;
}

.eventdatebtn1 {
	margin: 10px;
	width: 100px;
	height: 40px;
	font-size: 25px;
	float: left;
	text-align: center;
	background-color: #003169;
	color: #fff;
}

.eventdatebtn3 {
	margin-top: 10%;
	width: 200px;
	height: 40px;
	font-size: 25px;
	float: left;
	text-align: center;
	background-color: #003169;
	color: #fff;
}

.eventdatebtn2 {
	width: 80px;
	height: 40px;
	font-size: 20px;
	float: left;
	padding-top: 5px;
	text-align: center;
	background-color: #0068FF;
	color: #fff;
}

.card {
	border: 1px solid #000;
	margin-top: 10px;
	padding: 15px;
}

.postbtn {
	background-color: #003169;
	color: #fff;
	border-radius: 100px;
}

.mainproduct {
	border: 1px solid #CACACA;
	padding: 1em;
	margin-bottom: 20px;
	border-bottom: 5px solid #FF5733;
}

.mainproduct img {
	width: 250px;
	height: 200px;
}

.mainproduct:hover {
	border: 1px solid #000000;
	border-bottom: 5px solid #000000;
}
element {
}
.login-left span {
  
    font-size:1.5em;
    padding-bottom: 0.4em;
    display: block;}
.login-left input[type="text"] ,input[type="password"]{
    border: 1px solid #c0c0c0;
    outline-color: #c0c0c0;
    width: 96%;
    font-size: 1.2em;
    padding: 10px;
    margin:10px 0;
}   
.login-left input[type="submit"] {
    background: #FF5733;
    color: #FFF;
    font-size:1.2em;
    padding: 0.4em 1em;
    display: inline-block;
    text-transform: uppercase;
    border: none;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}

.box{
	   
  margin: 2% 1%;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid ;
    margin-bottom: 20px;
    border-top-color: #FF6B57;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
		  
.box-mint{
	 border-top-color: #96CEB4;
	
}
.box-yellow{
	 border-top-color: #FBCD36;
	
}	
.box-pink{
	 border-top-color: #F26C68;
	
}

.box-blue{
	 border-top-color: #22409A;
	
}
.box-bgreen{
	 border-top-color: #00A69C;
	
}
	

/* Below tabs mode */

.tabstyle.belowline > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabstyle.belowline > .nav-tabs > li > a {
  margin-top: 0;
}
.tabstyle.belowline > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabstyle.belowline > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabstylee.belowline > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.bg{
	    background-color: #ecf0f5;
	
}
.sidebar{
	background-color:#96CEB4;
}


.foot
{
	color:#FF4A4A;
	font-size: 20px;
	line-height: 45px;
}
.foot ul li a{
		
	
}
.icon p{
	display: inline-block;
	vertical-align: middle;
	margin:0;
		font-size: 20px;
		line-height: 45px;
}
.icon i{
	font-size: 25px;
	width: 30px;
	height: 30px;
}

.postbtn{
  background-color: #003169;
  color: #fff;
  border-radius: 100px;
}

.sticky{
	
	position: fixed;
	width: 100%;
	left: 0;
	top: -40px;
	z-index: 100;
	border-top:0;
	
}

.commentboxevent{
    
    position: relative;
    float: left;
    width: 650px;
    height: 75px;
    
}

.profilecommentpic{
  bottom: 20px;
  width:75px;
  height: 40px;
  font-size: 25px;
  float:left;
  text-align: center;
  background-color: #ffffff;
  color: #fff;
}

.postbutton{
    
    float:right;
    bottom:50px;
    left:50px;
    position:relative;
    background-color:#0068FF;
    color: #fff;
    
}

.cancelbutton{
    
    float: right;
    bottom:50px;
    left:170px;
    position:relative;
}

.replies{
    
    left: 50px;
    position:relative;
}

.replybuttons{
    
    float:left;
    background-color: #ffffff;
    font-family:1'Verdana', sans-serif;
    border: none;
    position: relative;
    right:6px;
    color: #A9A9A9;
}

.dropbtn{
    background-color: #333;
    color: #e7e7e7;
    border:none;
    position:relative;
    top:15px;
}

.dropbtn:hover{
    display:block;
    background: #333;
}

.msg-wgt-header {
  background-color: #6D84B4;
  border: 1px solid rgba(0, 39, 121, 0.76);
  color: white;
  text-align: center;
  height: 28px;
}

.msg-wgt-header a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  vertical-align: middle;
}

/* message box body styles*/

.msg-wgt-body {
  height: 300px;
  overflow-y: scroll;
}

.msg-wgt-body table {
  width: 100%;
}

.msg-row-container {
  border-bottom: 1px solid lightgray;
}

.msg-row-container td {
  border-bottom: 1px solid lightgray;
  padding: 3px 0 3px 2px;
}

.msg-row {
  width: 100%;
}

.message {
  margin-left: 40px;
}

/* Message box footer styles*/

.msg-wgt-footer {
  height: 50px;
}

.msg-wgt-footer textarea {
  width: 95%;
  font-family: 'tahoma';
  font-size: 13px;
  padding: 5px;
}

.user-label {
  font-size: 11px;
}

.msg-time {
  font-size: 10px;
  float: right;
  color: gray;
}

.avatar {
  width: 24px;
  height: 24px;
  float: left;
  background: url('/assets/chat_avatar.jpg');
  border: 1px solid lightgray;
}
