

.graphcont {
padding-top:10px;
color:#000;
font-weight:700;
float:left
}

.graph {
float:left;
margin-top:-5px;
margin-bottom: 5px;
background-color:#cecece;
position:relative;
width:280px;
padding:0
}
.one{
  background-image: url('../img/one.png') ;
  width:40px;
  padding:

}
.graph .bar {
display:block;
position:relative;
background-image:url(../img/bargraph.gif);
background-position:right center;
background-repeat:repeat-x;
border-right:  #0066FF 1px solid;


color:#fff;
height:25px;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:1.9em
}

.graph .bar span {
position:absolute;
margin-left:20px;
margin-top: -10px;
padding: 7px;
left:1em
}
