/*
Theme Name: community organization
Author: jiyoung choi
Date: Sep 2016
Description: An attractive, simple custom CSS design for the community website
*/
/* social icon */
body{
  margin-top: 2px;
  font-family: 'Roboto', sans-serif;
  margin-bottom :10px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.current {
color: #0068FF !important;
}
.socialgroup ul{
 overflow: auto;
}

.socialgroup ul li {
	list-style-type: none;
	float: left;

}

.socialgroup ul li a i {

	color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	font-size: 20px;
	text-align: center;

	margin-right: 10px;
padding-top: 10%;
}
.fa-facebook {
  background: #3b5998;
}
.fa-linkedin {
	background:#007bb6;
}
.fa-twitter {
	background:#00aced;
}
.fa-google-plus {
	background:#dd4b39;
}
/*end social icon*/
.contactinfo ul li {
  list-style-type: none;
  float: left;
  letter-spacing: 2px;
  font-size: 15px;
  margin-right: 15px;
  margin-top: 5px;
}
.contactinfo ul{
 overflow: auto;
 float: right;
}
.person{
  color: #fff;

}

.login input[type='text']{
								height: 30px;
								width:300px;
								background-color:#fff;
								border:1px solid #000000;
								font-size: 15px;
								margin:10px;

}
.login input[type='password'] {
								height: 30px;
								width:300px;
								background-color:#fff;
								border:1px solid #000000;
								font-size: 15px;
								margin:10px;}
.login input[type='email'] {
								height: 30px;
								width:300px;
								background-color:#fff;
								border:1px solid #000000;
								font-size: 15px;
								margin:10px;}

.login input[type='file'] {
								height: 30px;
								width:300px;
								background-color:#fff;
								border:1px solid #000000;
								font-size: 15px;
								margin:10px;}
.login input[type='submit']
            {height:30px; background-color: #fff;
            color:#777;
            font-family:'ubuntu';
            font-size: 15px;
            text-transform: uppercase;
            cursor: pointer;
            border:3px solid #000000;
			margin-left:210px;
			width:200px;
		    margin-bottom: 20px;
            }
.login input[type='radio'] {
								height: 20px;
								width:150px;

								background-color:#fff;
								border:1px solid #000000;
								font-size: 15px;
								margin:10px;}
.login{		background: #fff;
			background: rgba(255,255,255,0.7);
			margin-bottom: 20px;
			width: 900px;
			border-radius: 10px;
			font-family:'Ubuntu';
			float:left;
			margin-left:20%;
			padding-top:10px;

	}
.login form{margin-left:25%; width:550px; }
.login label{font-size: 25px;  width:200px; float: left;}
.login input{font-size: 25px;  width:200px; float: left; clear:right;}
.login h3{ clear:both;}
.login p{text-align: center;}
.login h3{ text-align: center;
}
.login{
  margin-top: 10%;
}
.name{
  color: #fff;
  float: left;
  margin-right: 30px;
padding-top: 15px;
padding-bottom: 15px;
}

/*footer*/



.urgent{
    margin-top: -25px;
  margin-bottom: 10px;
  }
.thumbnail {
      padding: 0 ;
      border: none;
      border-radius: 0;
      background-color:#000;


}
.thumbnail img {
      width: 100%;
      height: 100%;
      opacity: 0.2;

}
.thumbnail p{
  color: #fff;
  font-size: 2rem;
  margin:  20%;
  line-height: 1.8;
  position: absolute;


  }
  .con{
        padding-left:  15%;
        padding-right:  15%;
        padding-top: 15px;
        margin-top: 5%;

  }
.container{
  margin-top: 5%;
  padding-bottom: 60px;
}
    .bg-grey {
        background-color: #f6f6f6;
        margin-top: 20px;
    }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }

.thumbnail img:hover{

  opacity: 0.8;
  transition: 1s;
}
.boxbtn{
  position:relative;
  margin-top: -50px;
  border-radius: 100px;
  width: 40%;
  height: 10%;
  color:  #FF5733;
border: 2px solid #FF5733;
  }
.boxbtn1{
    position:relative;
    border-radius: 100px;
    width: 40%;
    height: 20%;
    color:  #0066FF;
  border: 2px solid #0066FF;
    }

.clander ul li a:hover{
  background-color: none;
}

.eventcardtxt{

width:250px;
height:250px;
background-color:#022C37;
float:left;
color: #fff;

}
.eventcardtxt1{

width:48%;
height:auto;
background-color:#022C37;
float:left !important;
color: #fff;


}
.eventcardtxt2{

width:48%;
height:180px;
background-color:#022C37;
float:left !important;
color: #fff;


}
.eventcardtxt hr{
  height:2px;
  border-color:#39ABCD;
  margin:10% 30%;
}
.eventcardtxt p{
  margin: 0 10%;
  font-family: 'Arvo';
}
.btn-primary-outline{
    border: 2px solid #39ABCD;
    background-color: transparent;
    margin: 10%;
}
.btn-primary-outline:hover{
  background-color: #39ABCD;
  color: #fff;
}
#eventbox{
  padding:0 4%;

}
.eventdatebtn{
  margin:10px;
  padding:5px;
  width:80px;
  height: 80px;
  font-size: 25px;
  float:left;
  text-align: center;
  background-color: #003169;
  color: #fff;
}
.eventdatebtn1{
  margin:10px;
  width:100px;
  height: 40px;
  font-size: 25px;
  float:left;
  text-align: center;
  background-color: #003169;
  color: #fff;
}
.eventdatebtn3{
  margin-top:10%;
  width:200px;
  height: 40px;
  font-size: 25px;
  float:left;
  text-align: center;
  background-color: #003169;
  color: #fff;
}
.eventdatebtn2{
  width:80px;
  height: 40px;
  font-size: 20px;
  float:left;
  padding-top: 5px;
  text-align: center;
background-color:#0068FF;
color: #fff;
}

.card{
  border:1px solid #000;
  margin-top: 10px;
  padding: 15px;
}
.postbtn{
  background-color: #003169;
  color: #fff;
  border-radius: 100px;
}
